{% extends 'base.html' %}

{% block context %}
  <div class="container">
    <div class="py-5 text-center">
      <h2>Пожалуйста, авторизуйтесь</h2>
    </div>
    <h4>С паролем:</h4>
    <div class="alert alert-primary" role="alert">
      Нет аккаунта?
      <a href="{% url 'signup' %}?next={{ next }}">Зарегистрироваться</a><br>
      <a href="{% url 'reset_password' %}">Забыли пароль?</a><br>
    </div>
   <form method="post">
    {% csrf_token %}
    {% for f in form %}
      <div class="mb-4 ">
        {{ f }}
        <div class="form-error">
          {{ f.errors }}
        </div>
      </div>
    {% endfor %}
    <div class="col-12">
      <button class="btn btn-danger" type="submit">Войти</button>
    </div>
  </form>
 </div>
{% endblock %}