{% extends 'base.html' %}

{% block context %}
  <div class="container">
    <div class="py-5 text-center" style="width: 80%; margin: 0 auto">
      <h2>Добро пожаловать на страницу сброса пароля</h2>
    </div>
    <h3 class="text-center">
      Забыли свой пароль? Пожалуйста, введите адрес электронной почты, который вы использовали для регистрации
      свяжитесь с нами, и мы вышлем вам ссылку для сброса вашего пароля
    </h3>
    <form action="" method="POST" class="my-5">
      {% csrf_token %}
      <div class="mb-4 ">
        {{ form }}
        <div class="form-error">
          {{ form.errors }}
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-danger" type="submit">Отправить письмо</button>
      </div>
    </form><br/>
    <div class="text-center">
      <a href="{% url 'index' %}" role="button">Вернуться на главную страницу</a>
    </div>
  </div>
{% endblock%}