{% extends "base.html" %}

{% block context %}
  <h1>Сброс пароля</h1>
  {% if validlink %}
    <p>Пожалуйста, введите свой новый пароль дважды:</p>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <div class="col-12">
        <button class="btn btn-danger" type="submit">Изменить пароль</button>
      </div>
    </form>
  {% else %}
    <p>Ссылка для сброса пароля была недействительной, возможно, потому,
      что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</p>
  {% endif %}
{% endblock %}