{% extends 'base.html' %}

{% block context %}
  <div class="container">
    <div class="py-5 text-center" style="width: 80%; margin: 0 auto">
      <h2>Форма для сброса пароля</h2>
    </div>
    <h6 class="text-center" style="width: 60%; margin: 0 auto">
      Пожалуйста, введите свою почту, чтобы восстановить пароль.
    </h6>
    <form action="" method="POST" class="my-5">
      {% csrf_token %}
      <div class="mb-4 ">
        {{ form }}
        <div class="form-error">
          {{ form.errors }}
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-danger" type="submit">Отправить письмо</button>
      </div>
    </form>
  </div>
{% endblock%}