{% extends 'base.html' %}

{% load static %}
{% block context %}
  <div class="container">
    <div class="py-5 text-center">
      <h2>Тайный Санта</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <h4 class="py-3 text-center">
          Организуй тайный обмен подарками между <br>друзьями или коллегами
        </h4>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a class="btn btn-danger" href="{% url 'new_game' %}" role="button">Cоздать игру</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}