{% extends 'base.html' %}

{% block context %}
  {% if games_count == 0 %}
    <div class="container">
      <div class="py-5 text-center">
        <h2>У вас пока нет созданных игр</h2>
      </div>
      <div class="d-grid gap-2 col-3 mx-auto">
        <a class="btn btn-danger" href="{% url 'new_game' %}" role="button">Создать игру</a>
      </div>
    </div>
  {% else %}
    <div class="container">
    <div class="py-5 text-center">
      <h2>Ваши игры</h2>
    </div>
    {% for game in games %}
    <div class="card mb-3">
      <h5 class="card-header">{{ game.title }}</h5>
      <div class="card-body">
        {% for key, value in costs.items %}
          {% if key == game.cost_limit %}
            <p class="card-text ">Стоимость подарка: {{ value }}</p>
          {% endif %}
        {% endfor %}
        <p class="card-text">Период регистрации участников: до {{ game.registration_end|date:"d.m.Y" }}</p>
        <p class="card-text">Период отправки подарков: до {{ game.dispatch_date|date:"d.m.Y" }}</p>
        {% if game.owner_joined %}
          <p class="card-text">Вы присоединились к игре</p>
        {% endif %}
        {% url 'game_join' slug=game.slug as the_url %}
        <fieldset disabled>
          <div class="ml-0 mb-3 col-md-6">
            <label for="disabledTextInput" class="form-label" id="popupBtn">Ссылка на игру</label>
            <input type="text" id="clickBoardInput" class="form-control" value="{{ base_url }}{{ the_url }}" readonly>
          </div>
        </fieldset>
        {% if not game.owner_joined %}
          <a href="{% url 'game_join' slug=game.slug %}" class="btn btn-danger mb-3">Присоединиться к игре</a>
        {% endif %}
        <a href="{% url 'game_edit' slug=game.slug pk=game.id %}" class="btn btn-danger mb-3">Изменить игру</a>
        <a href="{% url 'game_delete' slug=game.slug %}" class="btn btn-danger mb-3">Удалить игру</a>
      </div>
    </div>
  {% endfor %}
  </div>
  {% endif %}
  <div id="mypopup" class="myPopup">
    <div class="popup-content">
      <div class="popup-body">
        <p>Текст скопирован</p>
      </div>
    </div>
  </div>
{% endblock %}