{% extends 'base.html' %}

{% block context %}
  <div class="container">
      <div class="py-5 text-center">
        <h2>Ваш вишлист</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          {% if request.user.is_authenticated %}
            <form action="{% url 'user_preferences' %}" method="post">
              {% csrf_token %}
              {% for f in form %}
                <div class="mb-4">
                  <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}:</label>
                  <br>{{ f }}
                  <div class="form-error">
                    {{ f.errors }}
                  </div>
                </div>
              {% endfor %}
              <div class="col-12">
                <button class="btn btn-danger" type="submit">Сохранить изменения</button>
              </div>
            </form>
          {% else %}
            <h3>Перед созданием игры необходимо <a href="{% url 'login' %}">авторизоваться.</a></h3>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}