{% extends 'base.html' %}

{% block context %}
  <div class="container">
    <div class="py-5 text-center">
      <h2>Запрашиваемая страница не найдена</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <h4 class="py-3 text-center">
          Возможно, неправильно указан путь в адресной строке или страница была удалена.
        </h4>
        <div class="d-grid gap-2 col-3 mx-auto">
          <a class="btn btn-danger" href="{% url 'index' %}" role="button">Возврат на главную страницу</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}