{% extends 'base.html' %}

{% block context %}
  <div class="container-fluid">
    <h1>Пожалуйста, авторизуйтесь</h1>
    <h4>С паролем:</h4>
    <div class="alert alert-primary" role="alert">
      Нет аккаунта?
      <a href="{% url 'signup' %}">Зарегистрироваться</a>
    </div>

    <form method="post">
      {% csrf_token %}
      {% for f in form %}
        <div class="mb-4">
          <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}:</label>
          <br>{{ f }}
          <div class="form-error">
            {{ f.errors }}
          </div>
        </div>
      {% endfor %}
      <div class="col-12">
        <button class="btn btn-danger" type="submit">Войти</button>
      </div>
    </form>
  </div>
{% endblock %}