{% extends 'base.html' %}

{% block context %}
  <div class="container">
    <div class="py-5 text-center">
      <h2>{{ title }}</h2>
    </div>
    {% if not request.user.is_authenticated %}
      <h4>С паролем:</h4>
      <div class="alert alert-primary" role="alert">
        Уже зарегистрированы?
        <a href="{% url 'signup' %}?next={{ next }}">Войти на сайт</a>
      </div>
    {% endif %}
    <form method="post">
      {% csrf_token %}

      {% for f in form %}
        <div class="mb-4">
          <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}:</label>
          <br>{{ f }}
          <div class="form-error">
            {{ f.errors }}
          </div>
        </div>
      {% endfor %}
      <div class="col-12">
        <button class="btn btn-danger" type="submit">{{ button }}</button>
      </div>
    </form>
  </div>
{% endblock %}